html, body, #app {
    height: 100%;
    width: 100%;
}

body {
    background-image: linear-gradient(to bottom right, rgb(196, 196, 243), rgb(250, 250, 199))
}

table {
    background-color: lightyellow;
}

h1 {
    color: rgba(0, 0, 255);
}

h2 {
    color: rgba(0, 0, 255);
}

.form {
    align-items: center;
}

form {
    background-color: lightblue;
    padding: 5%;
}

#logo_img {

    height: 50px;
}

.container {
    margin: auto;

}

.row {
    display: block;

}

.btn {
    display: inline-block;
    margin-left: 150px;
}

#btns {
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
}